{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-8">
    <div class="auth-card">
      <div class="page-header">
        <h3>Editar Trabajador</h3>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-2 mt-3">
          <button class="btn btn-primary-custom" type="submit">Guardar cambios</button>
          <a class="btn btn-secondary-custom" href="{% url 'lista_trabajadores' %}">Volver</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
